In [1]:
import pandas as pd
import numpy as np

In [2]:
psd = pd.read_csv('/Users/verafeng/Desktop/LCT_LancasterCountyTax/Lancaster_PSD_CodeCleaned.csv')
df = pd.read_excel('/Users/verafeng/Desktop/272601_SD_muni_ParcelAcc.xlsx')

In [3]:
print("PSD shape:" + str(psd.shape))
print("df shape:" + str(df.shape))

PSD shape:(62, 9)
df shape:(272601, 18)

In [4]:
psd.head(3)

,ReportingYear,Textbox137,MunicipalityID,Municipality,SchoolDistrictID,SchoolDistrictName,PSD_code,Municipality_clean,SchoolDistrictName_clean
0,2020,LANCASTER,360033,ADAMSTOWN BORO,361303,COCALICO S D,360101,ADAMSTOWN BOROUGH,Cocalico
1,2020,LANCASTER,360063,AKRON BORO,362603,EPHRATA AREA S D,360701,AKRON BOROUGH,Ephrata Area
2,2020,LANCASTER,360095,BART TWP,367003,SOLANCO S D,361601,BART TOWNSHIP,Solanco

In [5]:
pd.set_option('display.max_columns', None)
df.head(2)

,ACCOUNTXRE,ADDRESS1,ADDRESS2,CITY,STATE,COUNTRY,POSTALCODE,HOUSE_NUMB,STREET_PRE,STREET,ZIPCODE,Owen_SCHOO,latitude,longitude,Parcel_ACCOUNT,SchoolDistrict_Name,Municipality,DISTRICT
0,100000,124 PENNWICK DR,NaN,LITITZ,PA,NaN,17543-7623,124,NaN,PENNWICK DR,17543,NaN,40.139776,-76.294080,3701092900000,Warwick,LITITZ BOROUGH,370
1,100004,6 MEADOW VIEW DR,NaN,LEOLA,PA,NaN,17540-1650,6,NaN,MEADOW VIEW DR,17540,Conestoga Valley,40.092645,-76.158645,3606059800000,Conestoga Valley,UPPER LEACOCK TOWNSHIP,360

In [6]:
s1 = psd['Municipality_clean'].unique()
s1.sort()
s1

array(['ADAMSTOWN BOROUGH', 'AKRON BOROUGH', 'BART TOWNSHIP',
       'BRECKNOCK TOWNSHIP', 'CAERNARVON TOWNSHIP', 'CHRISTIANA BOROUGH',
       'CITY OF LANCASTER', 'CLAY TOWNSHIP', 'COLERAIN TOWNSHIP',
       'COLUMBIA BOROUGH', 'CONESTOGA TOWNSHIP', 'CONOY TOWNSHIP',
       'DENVER BOROUGH', 'DRUMORE TOWNSHIP', 'EARL TOWNSHIP',
       'EAST COCALICO TOWNSHIP', 'EAST DONEGAL TOWNSHIP',
       'EAST DRUMORE TOWNSHIP', 'EAST EARL TOWNSHIP',
       'EAST HEMPFIELD TOWNSHIP', 'EAST LAMPETER TOWNSHIP',
       'EAST PETERSBURG BOROUGH', 'EDEN TOWNSHIP', 'ELIZABETH TOWNSHIP',
       'ELIZABETHTOWN BOROUGH', 'EPHRATA BOROUGH', 'EPHRATA TOWNSHIP',
       'FULTON TOWNSHIP', 'LANCASTER TOWNSHIP', 'LEACOCK TOWNSHIP',
       'LITITZ BOROUGH', 'LITTLE BRITAIN TOWNSHIP', 'MANHEIM BOROUGH',
       'MANHEIM TOWNSHIP', 'MANOR TOWNSHIP', 'MARIETTA BOROUGH',
       'MARTIC TOWNSHIP', 'MILLERSVILLE BOROUGH', 'MOUNT JOY BOROUGH',
       'MOUNT JOY TOWNSHIP', 'MOUNTVILLE BOROUGH', 'NEW HOLLAND BOROUGH',
       'PARADISE TOWNSHIP', 'PENN TOWNSHIP', 'PEQUEA TOWNSHIP',
       'PROVIDENCE TOWNSHIP', 'QUARRYVILLE BOROUGH', 'RAPHO TOWNSHIP',
       'SADSBURY TOWNSHIP', 'SALISBURY TOWNSHIP', 'STRASBURG BOROUGH',
       'STRASBURG TOWNSHIP', 'TERRE HILL BOROUGH',
       'UPPER LEACOCK TOWNSHIP', 'WARWICK TOWNSHIP',
       'WEST COCALICO TOWNSHIP', 'WEST DONEGAL TOWNSHIP',
       'WEST EARL TOWNSHIP', 'WEST HEMPFIELD TOWNSHIP',
       'WEST LAMPETER TOWNSHIP'], dtype=object)

In [7]:
s2 = df['Municipality'].unique()
s2.sort()
s2

array(['ADAMSTOWN BOROUGH', 'AKRON BOROUGH', 'BART TOWNSHIP',
       'BRECKNOCK TOWNSHIP', 'CAERNARVON TOWNSHIP', 'CHRISTIANA BOROUGH',
       'CITY OF LANCASTER', 'CLAY TOWNSHIP', 'COLERAIN TOWNSHIP',
       'COLUMBIA BOROUGH', 'CONESTOGA TOWNSHIP', 'CONOY TOWNSHIP',
       'DENVER BOROUGH', 'DRUMORE TOWNSHIP', 'EARL TOWNSHIP',
       'EAST COCALICO TOWNSHIP', 'EAST DONEGAL TOWNSHIP',
       'EAST DRUMORE TOWNSHIP', 'EAST EARL TOWNSHIP',
       'EAST HEMPFIELD TOWNSHIP', 'EAST LAMPETER TOWNSHIP',
       'EAST PETERSBURG BOROUGH', 'EDEN TOWNSHIP', 'ELIZABETH TOWNSHIP',
       'ELIZABETHTOWN BOROUGH', 'EPHRATA BOROUGH', 'EPHRATA TOWNSHIP',
       'FULTON TOWNSHIP', 'LANCASTER TOWNSHIP', 'LEACOCK TOWNSHIP',
       'LITITZ BOROUGH', 'LITTLE BRITAIN TOWNSHIP', 'MANHEIM BOROUGH',
       'MANHEIM TOWNSHIP', 'MANOR TOWNSHIP', 'MARIETTA BOROUGH',
       'MARTIC TOWNSHIP', 'MILLERSVILLE BOROUGH', 'MOUNT JOY BOROUGH',
       'MOUNT JOY TOWNSHIP', 'MOUNTVILLE BOROUGH', 'NEW HOLLAND BOROUGH',
       'PARADISE TOWNSHIP', 'PENN TOWNSHIP', 'PEQUEA TOWNSHIP',
       'PROVIDENCE TOWNSHIP', 'QUARRYVILLE BOROUGH', 'RAPHO TOWNSHIP',
       'SADSBURY TOWNSHIP', 'SALISBURY TOWNSHIP', 'STRASBURG BOROUGH',
       'STRASBURG TOWNSHIP', 'TERRE HILL BOROUGH',
       'UPPER LEACOCK TOWNSHIP', 'WARWICK TOWNSHIP',
       'WEST COCALICO TOWNSHIP', 'WEST DONEGAL TOWNSHIP',
       'WEST EARL TOWNSHIP', 'WEST HEMPFIELD TOWNSHIP',
       'WEST LAMPETER TOWNSHIP'], dtype=object)

In [8]:
# df_psd = pd.merge(df, psd, left_on='Municipality', right_on = 'Municipality_clean', how = 'left')

In [9]:
# df_psd.head()

In [10]:
# non = df_psd.loc[df_psd['PSD_code'].isnull()]
# non

In [11]:
# non['Municipality_x'].unique()

In [12]:
c1 = psd['SchoolDistrictName_clean'].unique()
c1.sort( )
c1

array(['Cocalico', 'Columbia Borough', 'Conestoga Valley',
       'Conrad Weiser A', 'Donegal', 'Eastern Lancaster Count',
       'Elizabethtown Area', 'Ephrata Area', 'Hempfield',
       'Lampeter Strasburg', 'Lancaster', 'Manheim Central',
       'Manheim Township', 'Octorara Area', 'Penn Manor', 'Pequea Valley',
       'Solanco', 'Warwick'], dtype=object)

In [13]:
c2 = df['SchoolDistrict_Name'].unique()
c2.sort()
c2

array(['Cocalico', 'Columbia Borough', 'Conestoga Valley', 'Donegal',
       'Eastern Lancaster Count', 'Elizabethtown Area', 'Ephrata Area',
       'Hempfield', 'Lampeter Strasburg', 'Lancaster', 'Manheim Central',
       'Manheim Township', 'Octorara Area', 'Penn Manor', 'Pequea Valley',
       'Solanco', 'Warwick'], dtype=object)

In [14]:
df_psd = pd.merge(df, psd, left_on=['Municipality','SchoolDistrict_Name'], 
                  right_on = ['Municipality_clean','SchoolDistrictName_clean'], how = 'left')

In [15]:
df_psd.shape

(272601, 27)

In [16]:
df_psd.head(2)

,ACCOUNTXRE,ADDRESS1,ADDRESS2,CITY,STATE,COUNTRY,POSTALCODE,HOUSE_NUMB,STREET_PRE,STREET,ZIPCODE,Owen_SCHOO,latitude,longitude,Parcel_ACCOUNT,SchoolDistrict_Name,Municipality_x,DISTRICT,ReportingYear,Textbox137,MunicipalityID,Municipality_y,SchoolDistrictID,SchoolDistrictName,PSD_code,Municipality_clean,SchoolDistrictName_clean
0,100000,124 PENNWICK DR,NaN,LITITZ,PA,NaN,17543-7623,124,NaN,PENNWICK DR,17543,NaN,40.139776,-76.294080,3701092900000,Warwick,LITITZ BOROUGH,370,2020.0,LANCASTER,360933.0,LITITZ BORO,369003.0,WARWICK S D,361702.0,LITITZ BOROUGH,Warwick
1,100004,6 MEADOW VIEW DR,NaN,LEOLA,PA,NaN,17540-1650,6,NaN,MEADOW VIEW DR,17540,Conestoga Valley,40.092645,-76.158645,3606059800000,Conestoga Valley,UPPER LEACOCK TOWNSHIP,360,2020.0,LANCASTER,361625.0,UPPER LEACOCK TWP,361703.0,CONESTOGA VALLEY S D,360302.0,UPPER LEACOCK TOWNSHIP,Conestoga Valley

In [17]:
non = df_psd.loc[df_psd['PSD_code'].isnull()]
non

,ACCOUNTXRE,ADDRESS1,ADDRESS2,CITY,STATE,COUNTRY,POSTALCODE,HOUSE_NUMB,STREET_PRE,STREET,ZIPCODE,Owen_SCHOO,latitude,longitude,Parcel_ACCOUNT,SchoolDistrict_Name,Municipality_x,DISTRICT,ReportingYear,Textbox137,MunicipalityID,Municipality_y,SchoolDistrictID,SchoolDistrictName,PSD_code,Municipality_clean,SchoolDistrictName_clean
76,100197,142 LEPORE DR,NaN,LANCASTER,PA,NaN,17602-2643,142,NaN,LEPORE DR,17602,Conestoga Valley,40.042438,-76.263492,8100804000000,Conestoga Valley,CITY OF LANCASTER,330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,100620,637 PETERS RD,NaN,NEW HOLLAND,PA,NaN,17557-9508,637,NaN,PETERS RD,17557,Eastern Lanc. Co.,40.063047,-76.082385,1902182200000,Pequea Valley,EARL TOWNSHIP,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,100704,1872 HARRISBURG AVE,NaN,MOUNT JOY,PA,NaN,17552-9573,1872,NaN,HARRISBURG AVE,17552,Elizabethtown Area,40.125265,-76.555724,1604323900000,Donegal,WEST DONEGAL TOWNSHIP,160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,100940,1866 HARRISBURG AVE,NaN,MOUNT JOY,PA,NaN,17552-9573,1866,NaN,HARRISBURG AVE,17552,Elizabethtown Area,40.125184,-76.555503,1604931000000,Donegal,WEST DONEGAL TOWNSHIP,160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
809,102196,2626 COLUMBIA AVE,NaN,LANCASTER,PA,NaN,17603-4150,2626,NaN,COLUMBIA AVE,17603,Penn Manor,40.040443,-76.378011,4106146300000,Hempfield,MANOR TOWNSHIP,410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271805,773924,818 N PRESIDENT AVE,NaN,LANCASTER,PA,NaN,17603-2626,818,N,PRESIDENT AVE,17603,Manheim Township,40.050634,-76.325361,3902415000000,Lancaster,MANHEIM TOWNSHIP,390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272206,774427,1251 MALLEABLE RD,NaN,COLUMBIA,PA,NaN,17512-9431,1251,NaN,MALLEABLE RD,17512,Hempfield,40.040405,-76.482153,3005795800000,Columbia Borough,WEST HEMPFIELD TOWNSHIP,300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272238,774468,231 LONGFELLOW DR,NaN,LANCASTER,PA,NaN,17602-4015,231,NaN,LONGFELLOW DR,17602,Conestoga Valley,40.032252,-76.261694,7802763500000,Conestoga Valley,CITY OF LANCASTER,330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272294,774537,1623 ROBERT RD,NaN,LANCASTER,PA,NaN,17601-5634,1623,NaN,ROBERT RD,17601,Conestoga Valley,40.052071,-76.266464,8108037900000,Conestoga Valley,CITY OF LANCASTER,330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272349,774610,20 WYNWOOD DR,NaN,MOUNTVILLE,PA,NaN,17554-1647,20,NaN,WYNWOOD DR,17554,Hempfield,40.033940,-76.428326,3006123300000,Hempfield,MANOR TOWNSHIP,410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
non[['Municipality_x','Municipality_clean','SchoolDistrict_Name','SchoolDistrictName_clean']]

,Municipality_x,Municipality_clean,SchoolDistrict_Name,SchoolDistrictName_clean
76,CITY OF LANCASTER,NaN,Conestoga Valley,NaN
221,EARL TOWNSHIP,NaN,Pequea Valley,NaN
246,WEST DONEGAL TOWNSHIP,NaN,Donegal,NaN
326,WEST DONEGAL TOWNSHIP,NaN,Donegal,NaN
809,MANOR TOWNSHIP,NaN,Hempfield,NaN
...,...,...,...,...
271805,MANHEIM TOWNSHIP,NaN,Lancaster,NaN
272206,WEST HEMPFIELD TOWNSHIP,NaN,Columbia Borough,NaN
272238,CITY OF LANCASTER,NaN,Conestoga Valley,NaN
272294,CITY OF LANCASTER,NaN,Conestoga Valley,NaN
272349,MANOR TOWNSHIP,NaN,Hempfield,NaN

In [19]:
df_psd.to_excel('/Users/verafeng/Desktop/272601_psd_050420.xlsx')

In [23]:
print(2406/272601 *100)
print(1 - 2406/272601)

0.8826086478039332
0.9911739135219607

In [1]:
import pandas as pd
tax_table = pd.read_excel('/Users/verafeng/Desktop/LCT_LancasterCountyTax/272601_psd_050420.xlsx')

In [2]:
tax_table.head()

,ACCOUNTXRE,ADDRESS1,ADDRESS2,CITY,STATE,COUNTRY,POSTALCODE,HOUSE_NUMB,STREET_PRE,STREET,...,DISTRICT,ReportingYear,Textbox137,MunicipalityID,Municipality_y,SchoolDistrictID,SchoolDistrictName,PSD_code,Municipality_clean,SchoolDistrictName_clean
0,100000,124 PENNWICK DR,NaN,LITITZ,PA,NaN,17543-7623,124,NaN,PENNWICK DR,...,370,2020.0,LANCASTER,360933.0,LITITZ BORO,369003.0,WARWICK S D,361702.0,LITITZ BOROUGH,Warwick
1,100004,6 MEADOW VIEW DR,NaN,LEOLA,PA,NaN,17540-1650,6,NaN,MEADOW VIEW DR,...,360,2020.0,LANCASTER,361625.0,UPPER LEACOCK TWP,361703.0,CONESTOGA VALLEY S D,360302.0,UPPER LEACOCK TOWNSHIP,Conestoga Valley
2,100005,52 W LINCOLN AVE,NaN,LITITZ,PA,NaN,17543-1034,52,W,LINCOLN AVE,...,370,2020.0,LANCASTER,360933.0,LITITZ BORO,369003.0,WARWICK S D,361702.0,LITITZ BOROUGH,Warwick
3,100008,385 HOWARD AVE APT 8,NaN,LANCASTER,PA,NaN,17602-4237,385,NaN,HOWARD AVE,...,330,2020.0,LANCASTER,360842.0,LANCASTER CITY,364002.0,LANCASTER S D,361001.0,CITY OF LANCASTER,Lancaster
4,100011,111 MILLER RD APT C,NaN,AKRON,PA,NaN,17501-1178,111,NaN,MILLER RD,...,20,2020.0,LANCASTER,360063.0,AKRON BORO,362603.0,EPHRATA AREA S D,360701.0,AKRON BOROUGH,Ephrata Area

In [3]:
tax_table.columns

Index(['ACCOUNTXRE', 'ADDRESS1', 'ADDRESS2', 'CITY', 'STATE', 'COUNTRY',
       'POSTALCODE', 'HOUSE_NUMB', 'STREET_PRE', 'STREET', 'ZIPCODE',
       'Owen_SCHOO', 'latitude', 'longitude', 'Parcel_ACCOUNT',
       'SchoolDistrict_Name', 'Municipality_x', 'DISTRICT', 'ReportingYear',
       'Textbox137', 'MunicipalityID', 'Municipality_y', 'SchoolDistrictID',
       'SchoolDistrictName', 'PSD_code', 'Municipality_clean',
       'SchoolDistrictName_clean'],
      dtype='object')

In [4]:
tax_table_psd = tax_table[['ACCOUNTXRE', 'ADDRESS1', 'ADDRESS2', 'CITY', 'STATE', 'COUNTRY',
       'POSTALCODE','Parcel_ACCOUNT',
       'SchoolDistrict_Name', 'Municipality_x','PSD_code']]

In [ ]:
tax_table_psd = pd.merge(tax_table, psd, left_on=['Municipality','SchoolDistrict_Name'], 
                  right_on = ['Municipality_clean','SchoolDistrictName_clean'], how = 'left')

In [5]:
tax_table_psd

,ACCOUNTXRE,ADDRESS1,ADDRESS2,CITY,STATE,COUNTRY,POSTALCODE,Parcel_ACCOUNT,SchoolDistrict_Name,Municipality_x,PSD_code
0,100000,124 PENNWICK DR,NaN,LITITZ,PA,NaN,17543-7623,3701092900000,Warwick,LITITZ BOROUGH,361702.0
1,100004,6 MEADOW VIEW DR,NaN,LEOLA,PA,NaN,17540-1650,3606059800000,Conestoga Valley,UPPER LEACOCK TOWNSHIP,360302.0
2,100005,52 W LINCOLN AVE,NaN,LITITZ,PA,NaN,17543-1034,3708289100000,Warwick,LITITZ BOROUGH,361702.0
3,100008,385 HOWARD AVE APT 8,NaN,LANCASTER,PA,NaN,17602-4237,3370697700000,Lancaster,CITY OF LANCASTER,361001.0
4,100011,111 MILLER RD APT C,NaN,AKRON,PA,NaN,17501-1178,0200622000000,Ephrata Area,AKRON BOROUGH,360701.0
...,...,...,...,...,...,...,...,...,...,...,...
272596,774934,230 BEECH ST,NaN,DENVER,PA,NaN,17517-8609,1400171800000,Cocalico,DENVER BOROUGH,360102.0
272597,774935,61 W CHURCH ST,NaN,DENVER,PA,NaN,17517-9244,0808655900000,Cocalico,EAST COCALICO TOWNSHIP,360103.0
272598,774936,840 COBBLESTONE LN,NaN,LANCASTER,PA,NaN,17601-3364,3907282000000,Manheim Township,MANHEIM TOWNSHIP,361201.0
272599,774937,205 GREENLAND DR,NaN,LANCASTER,PA,NaN,17602,3105117700000,Conestoga Valley,EAST LAMPETER TOWNSHIP,360301.0
272600,774938,305 HARVESTVIEW N,NaN,MOUNT JOY,PA,NaN,17552-2020,4501315400000,Donegal,MOUNT JOY BOROUGH,360403.0